*.idea

/Special_topics/Dynamic_Programming_1/Part_1
/Special_topics/Dynamic_Programming_1/Part_2

/SQL_Marathon/Day3/1_window_functions/Second_tasks

/SQL_Marathon/Day3/2_finalization/Example_task
/SQL_Marathon/Day3/2_finalization/Other_tasks