/Special_topics/Dynamic_Programming_1/Part_1
/Special_topics/Dynamic_Programming_1/Part_2


/SQL_Marathon/Day1/0_Basic_SQL/Exaple_task
/SQL_Marathon/Day1/0_Basic_SQL/Other_tasks

/SQL_Marathon/Day1/1_Aggregate_functions/First_tasks
/SQL_Marathon/Day1/1_Aggregate_functions/CASE_exaple_task
/SQL_Marathon/Day1/1_Aggregate_functions/Second_tasks

/SQL_Marathon/Day1/2_string_functions/concat_upper_lower_like_substr
/SQL_Marathon/Day1/2_string_functions/group_concat
/SQL_Marathon/Day1/2_string_functions/regexp



/SQL_Marathon/Day2/0_Joins/Example_tasks
/SQL_Marathon/Day2/0_Joins/Other_Tasks

/SQL_Marathon/Day2/1_Subqueries/Example_task_1
/SQL_Marathon/Day2/1_Subqueries/First_tasks
/SQL_Marathon/Day2/1_Subqueries/Example_task_2
/SQL_Marathon/Day2/1_Subqueries/Second_tasks

/SQL_Marathon/Day2/2_Str_functions



/SQL_Marathon/Day3/0_cte_union/Example_task
/SQL_Marathon/Day3/0_cte_union/Other_Tasks

/SQL_Marathon/Day3/1_window_functions/First_tasks
/SQL_Marathon/Day3/1_window_functions/Second_tasks

/SQL_Marathon/Day3/2_finalization/Example_task
/SQL_Marathon/Day3/2_finalization/Other_tasks